#titulo{
    color: beige;
    text-align: center;
    font-family: serif;
    padding-top: 60px;
}
body{
    background-color: rgb(59, 34, 13);
}

#imagem{
    padding-left: 512px;
    padding-top: 60px;
}